<a href="https://colab.research.google.com/github/anshuraj460016/AI-Lab/blob/main/LAB5_classwork_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
my_list = [1, 2, 3, 4]

# Method 1: Using clear()
my_list.clear()
print(my_list)  # Output: []

# Method 2: Reassigning an empty list
my_list = [1, 2, 3, 4]
my_list = []
print(my_list)  # Output: []

# Method 3: Using del
my_list = [1, 2, 3, 4]
del my_list[:]
print(my_list)  # Output: []

[]
[]
[]

In [10]:
my_list = [10, 20, 30, 40]

# Method 1: Using 'in' keyword
if 20 in my_list:
    print("Element exists")

# Method 2: Using a loop
element = 30
exists = False
for item in my_list:
    if item == element:
        exists = True
        break
print(exists)  # Output: True

Element exists
True

In [9]:
my_list = [1, 2, 3, 4,5]

# Method 1: Using sum()
total = sum(my_list)
print(total)

# Method 2: Using a loop
total = 0
for num in my_list:
    total += num
print(total)

15
15

In [8]:
my_list = [10, 20, 5, 30]

# Method 1: Using max()
largest = max(my_list)
print(largest)  # Output: 30

# Method 2: Using a loop
largest = my_list[0]
for num in my_list:
    if num > largest:
        largest = num
print(largest)  # Output: 30

30
30

In [6]:
my_list = [10, 20, 5, 30]

# Method 1: Using sorting
sorted_list = sorted(my_list, reverse=True)
second_largest = sorted_list[1]
print(second_largest)  # Output: 20

# Method 2: Using a loop
largest = second_largest = float('-inf')
for num in my_list:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest:
        second_largest = num
print(second_largest)  # Output: 20

20
20

In [5]:
my_list = [10, 20, 5, 30]

# Method 1: Using min()
smallest = min(my_list)
print(smallest)  # Output: 5

# Method 2: Using a loop
smallest = my_list[0]
for num in my_list:
    if num < smallest:
        smallest = num
print(smallest)  # Output: 5

5
5

In [4]:
my_list = [1, 2, 3, 4, 5]

# Method 1: Using len()
length = len(my_list)
print(length)  # Output: 5

# Method 2: Using a loop
count = 0
for _ in my_list:
    count += 1
print(count)  # Output: 5

5
5

In [3]:
my_list = [1, 2, 3, 4]

# Method 1: Using a loop
result = 1
for num in my_list:
    result *= num
print(result)  # Output: 24

# Method 2: Using math.prod() (Python 3.8+)
import math
result = math.prod(my_list)
print(result)  # Output: 24

24
24

In [2]:
my_list = [1, 2, 3, 4]

# Method 1: Using reverse()
my_list.reverse()
print(my_list)  # Output: [4, 3, 2, 1]

# Method 2: Using slicing
reversed_list = my_list[::-1]
print(reversed_list)  # Output: [4, 3, 2, 1]

[4, 3, 2, 1]
[1, 2, 3, 4]

In [1]:
def swap_elements(lst, index1, index2):

    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]
    else:
        print("Index out of range")
    return lst

my_list = [10, 20, 30, 40]
print("Original List:", my_list)

swap_elements(my_list, 1, 3)
print("List after swapping:", my_list)

Original List: [10, 20, 30, 40]
List after swapping: [10, 40, 30, 20]